.chessboard{
    display: grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,100px);
    width: 800px;
    height: 800px;
    /*background-color:#baca44;*/
    background-color: blue;
    place-content: center;
}

.tile{
    width: 100px;
    height: 100px;
}

.blackTile{
    background-color: #91a022;
}

.whiteTile{
    background-color: #eeeed2;
}