.tile{
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
}

.blackTile{
    background-color: #1bb12f;
    /*#91a022;rgb(125 135 150)*/
}

.whiteTile{
    background-color: #eeeed2;
}

.pieces{
    height : 100px;
    width : 100px;
    background-repeat: no-repeat;
    background-size: 65px;
    background-position: center;
}

.pieces:hover{
    cursor: grab;
}
.pieces:active{
    cursor: grabbing;
}

.pawn{
    height : 100px;
    width : 100px;
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: center;
}

.pawn:hover{
    cursor: grab;
}

.pawn:active{
    cursor: grabbing;
}